<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BrowserFingerprint</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/css_ready.css') }}" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/core.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/md5.js"></script>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
				<h1 class="navbar-text">Personal browser fingerprint</h1>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#first_container">Home</a>
					</li>
					<li>
						<a href="#info1">About</a>
					</li>
					<li style="list-style: none">{% if user.id %}</li>
					<li>
						<a href="logout">Logout</a>
					</li>
					<li style="list-style: none">{% else %}</li>
					<li>
						<a href="login">Login</a>
					</li>
					<li style="list-style: none">{% endif %}</li>
				</ul>
			</div>
		</div>
	</nav>
	<section id="first_container">
		<div class="container">
<!--			<button class="btn btn-primary" id="submit" onclick="submit_message();">Get my fingerprint</button>-->
			        <hr>


			        <button class="btn btn-primary" id="submit" onclick="submit_message();">Get my fingerprint</button>
			        <hr>
			<div class="info">
				Browser:
			</div>
			<div class="fp" id="browser"></div><br>

			<div class="info">
				Display:
			</div>
			<div class="fp" id="display"></div><br>

			<div class="info">
				Language:
			</div>
			<div class="fp" id="language"></div><br>

			<div class="info">
				OS:
			</div>
			<div class="fp" id="os"></div><br>

			<div class="info">
				Time Zone:
			</div>
			<div class="fp" id="timezone"></div><br>

			<div class="info">
				Plug Ins:
			</div>
			<div class="fp" id="plugins"></div><br>

			<div class="info">
				User Agent:
			</div><!--    <script src="{{url_for('static', filename='js/FpOpenSource.js')}}"></script>-->


			<script async src="../static/js/parametrs.js"></script>
			<script async src="../static/js/FpOpenSource.js"></script>
			<script async src="../static/js/sendToServer.js"></script>
		</div>
	</section>
</body>
</html>