<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1 class="navbar-text">Personal browser fingerprin</h1>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="#info1">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="first_container">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>

    <section id="description">
        <form method="post">
          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="username" name="username" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="password" name="password" required>
            <button type="submit">Register</button>
        </div>
</form>
    </section>

    <footer>
      <p class="text-center">Browser Fingerprint</p>
    </footer>
</body>
</html>
